body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #9599a1;
    margin: 0;
    padding: 0;
}
form, .resultados {
    background: #1a0f0f;
    max-width: 400px;
    box-shadow: 0 2px 8px rgba(44, 62, 80, 0.08);
}

input[type="text"], input[type="number"] {
    width: 90%;
    margin: 8px 0 16px 0;
    font-size: 1em;
    background: #f9fafb;
}

input[type="submit"], button {
    background: #2d8cf0;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.2s;
}

input[type="submit"]:hover, button:hover {
    background: #1a73e8;
}

table {
    width: 80%;
    background: #56e4e9;
    box-shadow: 0 2px 8px rgba(44, 62, 80, 0.08);
    border-radius: 10px;

}

th, td {
    text-align: right;
    border-bottom: 1px solid #000000;
}

th {
    background: #2d8cf0;
    color: #ac9c9c;
    font-weight: 600;
}

tr:last-child td {
    border-bottom: none;
}


div[style*="border:1px solid"] {
    background: #f9fafb;
    margin-bottom: 18px;
    box-shadow: 0 1px 4px rgba(44, 62, 80, 0.06);
}